@charset "utf-8";

/**** webfont *****/
	
/*나눔고딕*/
@font-face {
	font-family: "Nanum Gothic";
	font-style: normal;
	font-weight: normal;
	src: url('../font/NanumGothic.eot');src: local(※);
	src: url('../font/NanumGothic.eot?#iefix') format('embedded-opentype'),
		  url('../font/NanumGothic.woff') format('woff'),
		  url('../font/NanumGothic.ttf') format('truetype');
}
@font-face {
	font-family: "Nanum Gothic";
	font-style: normal;
	font-weight: bold;
	src: url('../font/NanumGothicBold.eot');src: local(※);
	src: url('../font/NanumGothicBold.eot?#iefix') format('embedded-opentype'),
		  url('../font/NanumGothicBold.woff') format('woff'),
		  url('../font/NanumGothicBold.ttf") format("truetype');
}

/* reset.css */
	html,body, div,p,h1,h2,h3,h4,h5,h6,input,button,textarea,select,table,ul,ol,li,dl,dt,dd,label,a,strong{margin:0;padding:0;font-size:14px;font-family:'SourceHan', 'dotum','Nanum Gothic','돋움','sans-serif';line-height:1.7em;color:#878079}
	table {width:100%;table-layout:fixed;border-collapse: collapse;border-spacing: 0;}
	caption{width:0;height:0;font-size:0;line-height:0;overflow:hidden}
	address,em{font-style:normal}
	img,fieldset,iframe{border:0 none}
	img,input,select,button,textarea{vertical-align:middle;}
	label,button,input[type="button"],input[type="submit"]{cursor:pointer;border:0;outline:0;}
	input{border:0;overflow:visible;background:transparent;}
	button{padding:0;margin:0;border:0;cursor:pointer;line-height:0;vertical-align:top;overflow:visible;background:transparent;outline: none;}
	button::-moz-focus-inner,input::-moz-focus-inner, button:active{border:0;padding:0;outline: none;}

	hr{display:none;}
	a{text-decoration:none;color:#7e7e7e;font-size:14px}
	a:hover{text-decoration:none;color:#7e7e7e}
	a:selected, a:visited {outline: none}
	a:active, a:focus {outline:none;}

/* hidden contents */
	.skip, .hidden, .commonH{position:absolute; width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden; z-index:-1;}
	.no_hidden{text-align:left;width:auto;height:auto;font-size:1em;line-height:inherit;overflow:hidden}

/*clear*/
	.clearfix:after{content:'';display:block;clear:both;}
	.clearfix{*zoom:1}
	.clear{margin:0;padding:0;list-style:none;}

/* float */
	.clearfix .float_l{float:left;}
	.clearfix .float_r{float:right;}
	.clearfix .float_n{clear:both;}

/*ellipsis*/
	.ellipsis{display:block;width:100%;white-space: nowrap;overflow:hidden;text-overflow:ellipsis;}

/* skip_navigation */
	#skip_navi {position:absolute;top:0;height:0px;width:100%;z-index:30;}
	#skip_navi a {display:block; height:1px; width:1px; margin-bottom:-1px; overflow:hidden; text-align:center;color:#fff;white-space:nowrap;;}
	#skip_navi a:focus, #skip_navi a:active {display:block;top:0;width:100%;height:30px;line-height:30px;background:#555;color:#eee;}

/*form&input base style*/
	.input-text{display:inline-block;height:18px;line-height:18px;;padding:10px 5px;border:1px solid #e5e5e5;background:#fff;}
	.ie8 .input-text{}
	.ie7 .input-text{}
	.input-text[size="100"]{width:98%}
	.input-text[size="80"]{width:80%}
	.input-text[size="20"]{width:150px}
	.input-text[size="5"]{width:50px}
	.input-text[type="file"]{padding:0}
	.input-textarea{display:block;border:1px solid #e5e5e5;padding:5px 3px}
	.input-textarea[size="100"]{width:99%}
	.input-span{color:red}
	.placeholder { color: #fff; }
	.input-select{margin:0;padding:5px 5px;line-height:14px;;border:1px solid #e5e5e5;color:#666666;background:transparent;}
	.ie7 .input-select{height:32px;}
	.radio_area label{padding-right:10px}
	.input-text::-webkit-input-placeholder { color: #666666;}
	.input-text::-moz-placeholder {  color: #666666;}
	.input-text:-ms-input-placeholder { color: #666666;}
	.input-text:-moz-placeholder { color: #666666;}
	input[type="submit"], input[type="reset"], input[type="button"], input[type="text"], input[type="password"]{-webkit-appearance: none;-moz-appearance: none;appearance: none;border-radius: 0px;} /* 모바일 라운드 제거 */

/* padding & margin */
	.pt10{padding-top:10px;}
	.pt20{padding-top:20px;}
	.pt30{padding-top:30px;}
	.pt40{padding-top:40px;}
	.pt50{padding-top:50px;}
	.mt20{margin-top:20px;}
	.mt50{margin-top:50px;}

/* ui-datepicker */
	#ui-datepicker-div{position:absolute;z-index:100 !important}
	.ui-datepicker .ui-datepicker-title{margin:0 20px}
	.ui-datepicker-trigger{padding-left:3px}
	.ui-datepicker .ui-datepicker-title select{height:20px;vertical-align:middle;margin:0}
	.ui-datepicker {width: 17em;padding: 1em 1em 0;display: none;background:#fff;border:1px solid #eee}
	.ui-datepicker .ui-datepicker-header {position: relative;padding: .2em 0;}
	.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {position: absolute;top: 2px;width: 1.7em;height: 1.7em;text-indent:-99999px;border:1px solid #ccc;border-radius:3px}
	.ui-datepicker .ui-datepicker-prev {left: 2px;background:#c3c3c3 url(../images/common/datepicker_prev.png) 50% 50% no-repeat;}
	.ui-datepicker .ui-datepicker-next {right: 2px;background:#c3c3c3 url(../images/common/datepicker_next.png) 50% 50% no-repeat;}
	.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span {overflow:hidden;display: block;position: absolute;left: 50%;margin-left: -8px;top: 50%;margin-top: -8px;}
	.ui-datepicker .ui-datepicker-title {margin: 0 2.3em;line-height: 1.8em;text-align: center;}
	.ui-datepicker .ui-datepicker-title select {font-size: 1em;margin: 1px 0;vertical-align:middle}
	.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {width: 40%;}
	.ui-datepicker table {width: 100%;font-size: .9em;border-collapse: collapse;margin: 0 0 .4em;}
	.ui-datepicker th {padding: .7em .3em;text-align: center;font-weight: bold;border: 0;}
	.ui-datepicker td {border: 0;padding: 1px;}
	.ui-datepicker td span,.ui-datepicker td a {display: block;padding: .2em;text-align: center;text-decoration: none;}
	.ui-datepicker .ui-datepicker-buttonpane {background-image: none;margin: .7em 0 0 0;padding: 0 .2em;border-left: 0;border-right: 0;border-bottom: 0;}
	.ui-datepicker .ui-datepicker-buttonpane button {float: right;cursor: pointer;width: auto;overflow: visible;line-height:1.2em;padding:.5em;margin:.5em;vertical-align:middle;border:1px solid #eee;border-radius:3px}
	.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {float: left;}
	.ui-datepicker .ui-state-hover{background-color:#aaa}

/* with multiple calendars */
	.ui-datepicker.ui-datepicker-multi {width: auto;}
	.ui-datepicker-multi .ui-datepicker-group {float: left;}
	.ui-datepicker-multi .ui-datepicker-group table {width: 95%;margin: 0 auto .4em;}
	.ui-datepicker-multi-2 .ui-datepicker-group {width: 50%;}
	.ui-datepicker-multi-3 .ui-datepicker-group {width: 33.3%;}
	.ui-datepicker-multi-4 .ui-datepicker-group {width: 25%;}
	.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
	.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {border-left-width: 0;}
	.ui-datepicker-multi .ui-datepicker-buttonpane {clear: left;}
	.ui-datepicker-row-break {clear: both;width: 100%;font-size: 0;}

/* RTL support */
	.ui-datepicker-rtl {direction: rtl;}
	.ui-datepicker-rtl .ui-datepicker-prev {right: 2px;left: auto;}
	.ui-datepicker-rtl .ui-datepicker-next {left: 2px;right: auto;}
	.ui-datepicker-rtl .ui-datepicker-prev:hover {right: 1px;left: auto;}
	.ui-datepicker-rtl .ui-datepicker-next:hover {left: 1px;right: auto;}
	.ui-datepicker-rtl .ui-datepicker-buttonpane {clear: right;}
	.ui-datepicker-rtl .ui-datepicker-buttonpane button {float: left;}
	.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
	.ui-datepicker-rtl .ui-datepicker-group {float: right;}
	.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
	.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {border-right-width: 0;border-left-width: 1px;}
	.ui-state-highlight,.ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {border: 1px solid #dad55e;background: #fffa90;color: #000;}
	.ui-state-checked {border: 1px solid #dad55e;background: #fffa90;}
	.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {color: #777620;}

/* ui-tooltip */
	.ui-tooltip {padding: 8px;position: absolute;z-index: 9999;max-width: 300px;}
	body .ui-tooltip {border-width: 2px;}
	.ui-widget-content {border: 1px solid #dddddd;background: #ffffff;color: #333333;}
	.ui-widget-content a {color: #333333;}

/* Corner radius */
	.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {border-top-left-radius: 3px;}
	.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {border-top-right-radius: 3px;}
	.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {border-bottom-left-radius: 3px;}
	.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {border-bottom-right-radius: 3px;}

/* Layout helpers */
	.ui-helper-hidden {display: none;}
	.ui-helper-hidden-accessible {border: 0;clip: rect(0 0 0 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;}
	.ui-helper-reset {margin: 0;padding: 0;border: 0;outline: 0;line-height: 1.3;text-decoration: none;font-size: 100%;list-style: none;}
