@charset "utf-8";

/**** webfont *****/
	
	/* 나눔고딕 */
	@font-face {
		font-family: "Nanum Gothic";
		font-style: normal;
		font-weight: normal;
		src: url('../font/NanumGothic.eot');
		src: local(※);
		src: url('../font/NanumGothic.eot?#iefix') format('embedded-opentype'),
			 url('../font/NanumGothic.woff') format('woff'),
			 url('../font/NanumGothic.ttf') format('truetype');
	}
	@font-face {
		font-family: "Nanum Gothic";
		font-style: normal;
		font-weight: bold;
		src: url('../font/NanumGothicBold.eot');
		src: local(※);
		src: url('../font/NanumGothicBold.eot?#iefix') format('embedded-opentype'),
			 url('../font/NanumGothicBold.woff') format('woff'),
			 url('../font/NanumGothicBold.ttf") format("truetype');
	}

	/* 본고딕 */
	@font-face {
		font-family: "NotoSansKR";
		font-style: normal;
		font-weight: normal;
		src: url('../font/NotoSansKR-Regular.eot');
		src: local(※);
		src: url('../font/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'),
			 url('../font/NotoSansKR-Regular.woff') format('woff'),
			 url('../font/NotoSansKR-Regular.woff2') format('woff2'),
			 url('../font/NotoSansKR-Regular.ttf") format("truetype');
	}
	@font-face {
		font-family: "NotoSansKR";
		font-style: normal;
		font-weight: bold;
		src: url('../font/NotoSansKR-Bold.eot');
		src: local(※);
		src: url('../font/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'),
			 url('../font/NotoSansKR-Bold.woff') format('woff'),
			 url('../font/NotoSansKR-Bold.woff2') format('woff2'),
			 url('../font/NotoSansKR-Bold.ttf") format("truetype');
	}

/**** reset.css ****/
	html,body, div,p,h1,h2,h3,h4,h5,h6,input,button,textarea,select,table,ul,ol,li,dl,dt,dd,label,a,strong{margin:0;padding:0;}
	body, a, input, button, select{font-size:12px;font-family:'NotoSansKR','나눔 고딕','Malgun Gothic','돋움','sans-serif';line-height:1.7em;color:#878079}
	table {width:100%;table-layout:fixed;border-collapse: collapse;border-spacing: 0;}
	caption, legend {width:0;height:0;font-size:0;line-height:0;overflow:hidden}
	address,em{font-style:normal}
	img,fieldset,iframe{border:0;padding:0;margin:0}
	img,input,select,button,textarea{vertical-align:middle;}
	label,button,input[type="button"],input[type="submit"]{cursor:pointer;border:0;outline:0;}
	input{display:inline-block;*display:inline;border:0;}
	button{display:inline-block;*display:inline;padding:0;margin:0;border:0;cursor:pointer;line-height:0;vertical-align:middle;overflow:visible;background:transparent;outline: none;}
	button::-moz-focus-inner,input::-moz-focus-inner, button:active{}
	button:focus {outline: -webkit-focus-ring-color auto 5px;}
	select, button{box-sizing: content-box;}
	hr{display:none;}

	a{text-decoration:none;color:#7e7e7e;font-size:14px}
	a:hover{text-decoration:none;color:#7e7e7e}
	a:selected, a:visited {outline: none}
	a:active, a:focus {outline:none;}

	/* hidden contents */
	.skip, .hidden, .commonH{position:absolute; width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden; z-index:-1;}
	.no_hidden{text-align:left;width:auto;height:auto;font-size:1em;line-height:inherit;overflow:hidden}

	/*clear*/
	.clearfix:after{content:'';display:block;clear:both;}
	.clearfix{*zoom:1}
	.clear{margin:0;padding:0;list-style:none;}

	/* float */
	.clearfix .float_l{float:left;}
	.clearfix .float_r{float:right;}
	.clearfix .float_n{clear:both;}

	/*ellipsis*/
	.ellipsis{display:block;width:100%;white-space: nowrap;overflow:hidden;text-overflow:ellipsis;}

	/* padding & margin */
	.pt10{padding-top:10px;}
	.pt20{padding-top:20px;}
	.pt30{padding-top:30px;}
	.pt40{padding-top:40px;}
	.pt50{padding-top:50px;}
	.mt10{margin-top:10px;}
	.mt20{margin-top:20px;}
	.mt30{margin-top:30px;}
	.mt40{margin-top:40px;}
	.mt50{margin-top:50px;}

	/* default */
	.break{word-break:break-all;}

	/* layout */
	html, body{overflow:hidden;width:100%;position:relative;z-index:1;}
	.allwrap{position:fixed;z-index:5;top:0;bottom:0;left:0;right:0;background:#555}
	.blind{position:fixed;top:0;bottom:0;right:0;left:0;background:#000;opacity:0.5}

	/* page_area */
	.page_area{display:none;position:fixed;z-index:10;top:0;bottom:0;left:0;right:0;background:#fff}
	.page_area ul li{float:left;width:25%}
	.page_area ul li a{display:block;}
	.page_area ul li a img{max-width:100%;}

	/* viewer_area */
	.viewer_area{display:none;position:fixed;z-index:25;top:0;bottom:0;left:0;right:0;}
	.viewer_area .blind{z-index:20}
	.viewer_area .close{position:absolute;right:0;top:0;z-index:100;}
	.viewer_area .close a{display:block;color:#fff}
	.gallery_viewer_area{opacity:0;position:absolute;z-index:100;left:50%;top:50%;}
	.gallery_viewer_area .viewer_content{}
	.viewer_area .btn a{display:block;position:absolute;z-index:100;top:50%;margin-top:-20px;height:40px;width:40px;background:#ff0}
	.viewer_area .btn a.btn_prev{left:0;}
	.viewer_area .btn a.btn_next{right:0;}
	.viewer_area .loader{position:absolute;z-index:50;left:50%;top:50%;margin-top:-10px;margin-left:-10px;}

	/* header */
	.header{position:absolute;left:0;right:0;top:0;}
	.header .logo{line-height:50px;text-align:center;color:#fff;font-size:50px;}
	.header .btn_menu{overflow:hidden;display:block;position:absolute;right:5%;top:5%;width:50px;height:50px;background:#fff}

	/* content */
	.main_link{position:absolute;z-index:100;left:10%;right:10%;top:50%;height:300px;margin-top:-150px}
	.main_link li{position:relative;width:33.3%;float:left;height:300px;}
	.main_link li a{display:block;position:absolute;left:0;top:0;right:0;bottom:0;color:#fff;text-align:center;}
	.main_link li.link01{background:#f00}
	.main_link li.link02{background:#0ff}
	.main_link li.link03{background:#ff0}
